/* Variables and Mixins */
@toolbar-action-size: 26px;
@toolbar-action-radius: 4px;

@toolbar-background-color: #fff;
@toolbar-tip-size: 12px;

.leaflet-toolbar-box-shadow() {
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

/* Generic L.Toolbar */
ul.leaflet-toolbar {
	list-style: none;
	padding-left: 0;
	.leaflet-toolbar-box-shadow();
	.leaflet-toolbar-icon {
		display: block;

		width: @toolbar-action-size;
		height: @toolbar-action-size;
		line-height: @toolbar-action-size;

		text-align: center;
		text-decoration: none;

		background-color: @toolbar-background-color;
		&:hover { background-color: #f4f4f4; }
	}
}

.leaflet-toolbar-tip-container {
	margin: 0 auto;
	height: @toolbar-tip-size;
	position: relative;
	overflow: hidden;
}

.leaflet-toolbar-tip {
	width: @toolbar-tip-size;
	height: @toolbar-tip-size;

	margin: -@toolbar-tip-size/2 auto 0;

	background-color: @toolbar-background-color;
	.leaflet-toolbar-box-shadow();

	transform: rotate(45deg);
}

/* L.Toolbar.Control */
.leaflet-control-toolbar {
	.leaflet-toolbar-icon { border-bottom: 1px solid #ccc; }

	.leaflet-toolbar-secondary {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 26px; /* leaflet-draw-toolbar.left + leaflet-draw-toolbar.width */
		top: 0;
		white-space: nowrap;

		li { display: inline-block;	}
	}

	li:first-child .leaflet-toolbar-icon { 
		border-top-left-radius: @toolbar-action-radius;
		border-top-right-radius: @toolbar-action-radius; 
	}
	li:last-child .leaflet-toolbar-icon { 
		border-bottom-left-radius: @toolbar-action-radius;
		border-bottom-right-radius: @toolbar-action-radius;
		border-bottom-width: 0;
	}
}

/* L.Toolbar.Popup */
.leaflet-popup-toolbar {
	a {
		float: left;
	}
	li:first-child .leaflet-toolbar-icon { 
		border-top-left-radius: @toolbar-action-radius;
		border-bottom-left-radius: @toolbar-action-radius; 
	}
	li:last-child .leaflet-toolbar-icon { 
		border-top-right-radius: @toolbar-action-radius;
		border-bottom-right-radius: @toolbar-action-radius;
		border-bottom-width: 0;
	}
}
